form {
  //margin: 30px 0;
  abbr {
    border-bottom: none;
  }
  label,
  input,
  select,
  textarea {
    display: block;
    width: 100%;
    font-weight: normal;
    @include box-sizing(border-box);
    &[type="submit"] {
      width: auto;
    }
  }
  input,
  select,
  textarea {
    border: 0;
    @include font-size(15);
    padding: 15px;
    // color: $purple;
    // background: $lightest-purple;
    // font-family: $font-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    @include box-sizing(border-box);
    @include anti-alias;
    @include input-placeholder {
      color: rgba($black, .5);
    }
  }
  select::-ms-expand { 
      display: none; // REMOVES ARROW IN IE
  }
  label {
    // font-family: $font-serif;
    @include font-size(17);
    margin-top: 30px;
    a {
      @include font-size(13);
      // font-family: $font-serif;
    }
  }
  select {
    padding: 15px 45px 15px 15px;
    // background: $lightest-purple image-url('form_dropdown.png') center right no-repeat;
    html.ie9 & {
      background-image: none !important;
      padding: 15px !important;
    }
  }
  input[type=submit] {
    cursor: pointer;
    background: 0;
    text-transform: uppercase;
    padding: 10px 50px;
    background-color: $green;
    color: $white;
    opacity: 1;
    @include respond-to(xsmall) {
      width: auto;
    }
    &:hover {
      opacity: .6;
    }
  }
  input:valid:not([type=submit]),
  textarea:valid {
    border-color: #080;
    background: #e6ffe6 image-url('form_valid.png') no-repeat 97% center;
  }
  input:focus:invalid:not([type=submit]),
  textarea:focus:invalid {
    border-color: #800;
    background: #ffe6e6 image-url('form_invalid.png') no-repeat 97% center;
  }
}

form.search {
  @include flex(1 1 auto);
  position: relative;
  input {
    display: inline-block;
    vertical-align: middle;
    &[type=text] {
      @include flex(1 1 auto);
      max-width: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      padding: 21px 15px 22px;
      @include animate-object;
    }
    &[type=submit] {
      @include flex(0 0 auto);
      width: 30px;
      margin: 0 15px 0 0;
      height: 63px;
      @include img-content(-20px, -155px);
      padding: 0;
      background-color: transparent;
      position: absolute;
      right: 0;
    }
  }
  &:hover {
    input[type=text] {
      max-width: 600px;
      opacity: 1;
    }
  }
  input:valid:not([type=submit]) {
    border-color: none;
    background: $white;
  }
  input:focus:invalid:not([type=submit]) {
    border-color: none;
    background: $white;
  }
}

footer {
  form {
    input[type=text],
    textarea {
      border-top: 1px solid $grey;
      border-right: 1px solid $grey;
      border-left: 1px solid $grey;
    }
    textarea {
      border-bottom: 1px solid $grey;
      height: 130px;
    }
    input[type=submit] {
      width: auto;
      float: right;
      margin-top: 15px;
    }
  }
}