article.interior_page {
  width: 100%;
  margin: 0 auto;
  padding: 70px 5%;
  background: $white;
  position: relative;
  @include box-sizing(border-box);
  .fourohfoursearch {
    width: 100%;
    height: 75px;
    form.search {
      input[type=text] {
        max-width: 100%;
        opacity: 1;
        border: $grey 1px solid;
      }
    }
  }
  @include respond-to(small) {
    width: 70%;
    padding: 40px;
    margin: -450px auto 0;
  }
}