ul.slider_nav {
  position: absolute;
  top: auto;
  bottom: 30px;
  right: 30px;
  z-index: +1;
  margin: 0 !important;
  list-style-type: none !important;
  &.sticky {
    top: 47%;
    bottom: auto;
    transform: translateY(-47%);
    position: fixed;
  }
  li {
    margin: 0 !important;
    text-align: right;
    border-right: 1px solid $white;
    &:hover {
      border-right: 1px solid transparent;
    }
    a {
      color: $white;
      padding: 5px 15px 5px 0;
      display: block;
      position: relative;
      opacity: .7;
      font-weight: bold;
      @include text-shadow(rgba($black, .2) 1px 1px 0px);
      &::after {
        font-family: 'emm-icons';
        @include font-size(28);
        content: "";
        position: absolute;
        right: -14px;
        bottom: 0;
      }
      &:hover {
        opacity: 1;
        &::after {
          content: "";
        }
      }
    }
    &.active {
      border-right: 1px solid transparent;
      a {
        opacity: 1;
        &::after {
          content: "";
        }
      }
    }
  }
}

.page-slide {
  height: 100%;
  background-size: cover;
  background-position: top left;
  background-repeat: none;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  .slide_content {
    width: 82%;
    padding: 30px 15px 45px;
    background: image-url('arrow_green_right.png') bottom right no-repeat;
    position: absolute;
    top: 175px;
    bottom: auto;
    left: 5%;
    right: 5%;
    background-color: rgba($white, .8);
    @include border-radius(6px);
    color: $black;
    &:hover {
      background-color: rgba($white, .5);
    }
    @include respond-to(small) {
      width: 45%;
      left: auto;
      right: 250px;
    }
  }
  &.slide1 {
    .slide_content {
      top: auto;
      bottom: 100px;
    }
  }
  a.next {
    width: 33px;
    height: 38px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -16px;
    @include img-content(-20px, -350px);
    opacity: 1;
    &:hover {
      opacity: .5;
    }
  }
  &:last-child {
    a.next {
      display: none;
    }
  }
  video {
    // position: fixed;
    // top: 50%;
    // left: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    display: none;
    // -webkit-transform: translateX(-50%) translateY(-50%);
    // transform: translateX(-50%) translateY(-50%);
    @include respond-to(large) {
      display: block;
    }
  }
}