@font-face {
  font-family: 'emm-icons';
  src:font-url('emm-icons.eot?-51is60');
  src:font-url('emm-icons.eot?#iefix-51is60') format('embedded-opentype'),
    font-url('emm-icons.woff?-51is60') format('woff'),
    font-url('emm-icons.ttf?-51is60') format('truetype'),
    font-url('emm-icons.svg?-51is60#emm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "proxima-nova",sans-serif;
  @include font-size(16);
  color: $black;
}

p {
  margin: 15px 0;
  &.leadin {
    @include font-size(22);
    font-style: italic;
    margin: 25px 0;
  }
  a {
    opacity: 1;
    &:hover {
      opacity: .4;
    }
  }
}

a {
  color: $green;
  text-decoration: none;
  @include animate-object;
}

h1 { // USED FOR LOGO -- DO NOT USE ELSEWHERE (SEO REASONS)
  @include font-size(42);
  font-weight: bold;
} 

h2 {
  @include font-size(34);
  font-weight: bold;
}

h3 {
  @include font-size(28);
  font-weight: bold;
  margin: 15px 0;
}

h4 {
  @include font-size(22);
  font-weight: bold;
  margin: 15px 0;
}

h5 {
  @include font-size(17);
  font-weight: bold;
}

blockquote {
  font-style: italic;
  position: relative;
  padding: 20px 35px;
  &::before {
    font-family: 'emm-icons';
    content: "";
    color: $green;
    font-size: 60px;
    opacity: .2;
    position: absolute;
    top: 1;
    left: 0;
    font-style: normal;
  }
}


#container { // GENERAL STYLES IN PAGES
  ol {
    list-style-type: decimal;
    list-style-position: outside;
    margin: 0 0 0 15px;
    li {
      margin: 15px;
      ol {
        list-style-type: upper-alpha;
        li {
          ol {
            list-style-type: upper-roman;
            li {
              ol {
                list-style-type: lower-alpha;
                li {
                  ol {
                    list-style-type: lower-roman;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 0 15px;
    li {
      margin: 15px;
      ul {
        list-style-type: circle;
        li {
          ul {
            list-style-type: square;
          }
        }
      }
    }
  }
}


// ICONS
[class^="icon-"], [class*=" icon-"] {
  font-family: 'emm-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-looking-glass:before {
  content: "\e60c";
}

.icon-small-swoosh:before {
  content: "\e600";
}

.icon-emm:before {
  content: "\e601";
}

.icon-dot:before {
  content: "\e602";
}

.icon-big-swoosh:before {
  content: "\e603";
}

.icon-arrow-simple-down:before {
  content: "\e604";
}

.icon-arrow-simple-right:before {
  content: "\e605";
}

.icon-arrow-simple-up:before {
  content: "\e606";
}

.icon-arrow-simple-left:before {
  content: "\e607";
}

.icon-arrow-left:before {
  content: "\e608";
}

.icon-arrow-up:before {
  content: "\e609";
}

.icon-arrow-right:before {
  content: "\e60a";
}

.icon-arrow-down:before {
  content: "\e60b";
}

