@mixin site-width {
  width: 100%;
  padding: 0 5%;
  @include box-sizing(border-box);
}

@mixin full-width { //overrides site width for full bleed
    width: 111.5%;
    margin: 0 -5.95% 0 -5.95%;
    @include box-sizing(border-box);
}

@include selection {
  // background: $light-blue;
  // color: $white;
}

html,
body {
  height: 100%;
  background-color: $white;
}

body {
  overflow-x: hidden;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

#container {
  // @include site-width;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 61px;
  @include animate-object;
  background-color: $white;
  @include clear-float;
  &.mobile_active {
    margin-left: 300px;
  }
  @include respond-to(large) {
    padding-top: 0;
  }
}

.sticky_spacer {
  width: 100%;
  height: 67px;
  display: none;
  &.active {
    display: none;
    body.home &,
    body.index & {
      display: none;
    }
    @include respond-to(large) {
      display: block;
    }
  }
}