<footer>
  <div class="flexible-container map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3095.9191861592008!2d-84.49813099999999!3d39.108309999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8841b3df6322b501%3A0x48e5ef4fbd285bf2!2sEmpower+MediaMarketing!5e0!3m2!1sen!2sus!4v1432577139741" width="1200" height="330" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="contact">
    <div class="contact_container">
      <div class="form_container">
        <h3>Contact Us</h3>
        <form action="">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="E-Mail">
          <textarea name="" id="" placeholder="Message"></textarea>
          <input type="submit" value="Send">
        </form>
      </div>
      <div class="locations">
        <a href="#">
          <h4>Cincinnati</h4>
          <p>1111 St. Gregory St<br>Cincinnati, OH 45202</p>
        </a>
        <a href="#">
          <h4>Chicago</h4>
          <p>325 West Huron<br>Chicago, IL 60654</p>
        </a>
      </div>
    </div>
  </div>
  <div class="bottom_footer">
    <p>© 201X–201X Empower MediaMarketing. All rights reserved. <a href="#">Privacy Policy</a></p>
    <a href="#" class="to_top">To The Top</a>
    <ul class="social_footer">
      <li><a href="#" class="twitter">Twitter</a></li>
      <li><a href="#" class="youtube">YouTube</a></li>
      <li><a href="#" class="facebook">Facebook</a></li>
      <li><a href="#" class="rss">RSS</a></li>
    </ul>
  </div>
</footer>