<div class="mobile_nav">
  <form action="" class="search">
    <input type="text" placeholder="Search...">
    <input type="submit">
  </form>
  <nav>
    <ul>
      <li>
        <a href="#">About Us</a>
        <ul>
          <li><a href="#">Our Culture</a></li>
          <li><a href="#">Our People</a></li>
          <li><a href="#">Our Capabilities</a></li>
          <li><a href="#">Create &amp; Innovate</a></li>
        </ul>
      </li>
      <li><a href="#">Work</a></li>
      <li><a href="#">News &amp; Insights</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>