<section class="information_boxes news_header">
  <ul>
    <li>
      <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
        <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
        <span>
          <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
        </span>
      </a>
    </li>
    <li>
      <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
        <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
        <span>
          <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
        </span>
      </a>
    </li>
    <li>
      <ul>
        <li>
          <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
            <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
            <span>
              <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
            </span>
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
            <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
            <span>
              <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
            </span>
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
            <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
            <span>
              <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
            </span>
          </a>
        </li>
        <li>
          <a href="#" style="background-image: url(images/articles/divesting_print.jpg);">
            <header><span>News Title</span><em>Section Name</em>News &amp; Insights</header>
            <span>
              <p>Media Giants Divest Newspapers, Focus on Broadcast &amp; Digital</p>
            </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>