---
title: Article &#124; Empower MediaMarketing
---

<%= partial "header" %>

<div class="news_image" style="background-image: url(images/articles/hero/hero-article-brandery.jpg);"></div>

<article class="main_news">

  <header>
    <h2>Empower MediaMarketing Creates ‘Disruptive Media Fellowship’ for The Brandery</h2>
    <time datetime="2010-05">Tuesday, May 18th, 2010</time>
    <section class="tag_share">
      <ul class="tags">
        <li><a href="#">Cincinnati</a></li>
        <li><a href="#">Empower</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Startup</a></li>
        <li><a href="#">The Brandery</a></li>
      </ul>
      <ul class="social">
        <li><a href="" class="facebook"></a></li>
        <li><a href="" class="twitter"></a></li>
        <li><a href="" class="gplus"></a></li>
        <li><a href="" class="shareplus"></a></li>
      </ul>
    </section>
  </header>
  
  <!-- ARTICLE STORY -->
  <p class="leadin">Fellowship Provides Additional $10,000 Financial Support to Startup Whose Idea Is Most Disruptive to the Media Landscape</p>
  <p>Independent media agency Empower MediaMarketing announced today it is expanding its support of the local business startup accelerator, The Brandery, with a “Disruptive Media Fellowship.” The Empower fellowship of $10,000 will be awarded to a startup whose idea is most disruptive to the media landscape.</p>
  <p>The additional award from Empower augments the support each startup selected for The Brandery’s 2013 class will receive from the nationally-ranked seed startup accelerator program. The startup receiving Empower’s fellowship will be announced in late June.</p>
  <p>Jim Price, president of Empower MediaMarketing, said,</p>
  <blockquote>... By augmenting the support The Brandery provides startups, our hope is to increase one startup’s chances of success. The fellowship recognizes the opportunity in the changing media landscape and is designed to help a startup harness this opportunity in a way that can change how the industry uses media.</blockquote>
  <p>Empower has been supporting The Brandery since it opened in 2010, providing mentors and media planning resources to the entrepreneurs.</p>
  <p>Empower’s Disruptive Media Fellowship builds on the mentoring services Empower will provide as part of the Brandery’s annual program. The agency will also assess opportunities for its clients and partners to work with the startup that will benefit all involved.</p>
  <h3>About The Brandery</h3>
  <p>The Brandery is a Cincinnati-based non-profit startup accelerator with the goal of supporting startups in technology-based consumer experiences. The Brandery is annually recognized as one of the elite startup accelerators in the country. More than 60 mentors work with the companies, which each receive $20,000 in seed money. Leading Cincinnati-based agencies offer free marketing and media guidance to each of the startups.</p>
  <h3>About Empower MediaMarketing</h3>
  <p>Empower MediaMarketing is one of the largest independently-held media agencies in the nation. We plan, buy and create media and we deliver proof our clients’ media investments are driving positive results. We can be found online at our web site as well as on Twitter, LinkedIn and Facebook.</p>
  <!-- / ARTICLE STORY -->

  <footer>
    <section class="tag_share">
      <ul class="tags">
        <li><a href="#">Cincinnati</a></li>
        <li><a href="#">Empower</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Startup</a></li>
        <li><a href="#">The Brandery</a></li>
      </ul>
      <ul class="social">
        <li><a href="" class="facebook"></a></li>
        <li><a href="" class="twitter"></a></li>
        <li><a href="" class="gplus"></a></li>
        <li><a href="" class="shareplus"></a></li>
      </ul>
    </section>
    <section class="author">
      <div class="information">
        <h5>Mary Smith <span>Director, Content Marketing</span></h5>
        <p>Short introduction,Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        <p><a href="#">Read More articles by Mary</a></p>
      </div>
      <div class="photo">
        <img src="images/people/sarah.jpg" alt="">
      </div>
    </section>
  </footer>
  
</article>

<%= partial "news_previews" %>