---
title: Clients Template &#124; Empower MediaMarketing
---

<section class="clients">
  <ul>
    <li><a href="#"><img src="images/clients/FamousFootwearLogo.png" alt=""></a></li>
    <li><a href="#"><img src="images/clients/download.jpeg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/gorillalogo.gif" alt=""></a></li>
    <li><a href="#"><img src="images/clients/HGTV-Home.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/LasikPlus_logo1.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/Land_O_Frost_logo.png" alt=""></a></li>
    <li><a href="#"><img src="images/clients/MARZETTI-LOGO.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/rustoleum-logo-large.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/Shaw-Floors.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/header_totes_iso_logo.png" alt=""></a></li>
    <li><a href="#"><img src="images/clients/USBank-Logo1.jpg" alt=""></a></li>
    <li><a href="#"><img src="images/clients/wendys_logo.jpeg" alt=""></a></li>
  </ul>
</section>