---
title: Welcome &#124; Empower MediaMarketing
---

<section class="page-slide slide1" style="background-image: url(images/index/index-3.jpg);">
  <a href="#" class="slide_content">
    <h2>Media is Power</h2>
    <p>Is your largest marketing expenditure driving results? Empower can help ensure it does. We’re the difference between hoping and knowing that your paid media will make an impact – and we can prove it.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide2" style="background-image: url(images/cinemagraphs/878e9ce3920e17ff6a6bf4519d447d67-1.gif);">
  <a href="#" class="slide_content">
    <h2>Fuelled by Passion, Guided by Principles</h2>
    <p>We love what we do. That’s why we live by best practices. Here are the five principles that guide everything we do.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide3" style="background-image: url(images/cinemagraphs/5251aba369f4a1b6163c642679b82b35.gif);">
  <a href="#" class="slide_content">
    <h2>Opinion Powered</h2>
    <p>As a family-owned business, we’re really proud of our people’s accomplishments – that’s why we publish their expert takes on the latest industry issues and trends. Here’s our point of view.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide4" style="background-image: url(images/cinemagraphs/coffee.gif);">
  <a href="#" class="slide_content">
    <h2>Top Performing</h2>
    <p>Improved impact and proven results. That’s what keeps us going every day. Here are just a few examples of our most influential media work.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide5" style="background-image: url(images/cinemagraphs/tumblr_m04dgoKjOu1qz581wo1_500.gif);">
  <a href="#" class="slide_content">
    <h2>What Can We Do?</h2>
    <p>Improved impact and proven results. That’s what keeps us going every day. Here are just a few examples of our most influential media work.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide6" style="background-image: url(images/cinemagraphs/Waving_reeds_cinemagraph.gif);">
  <a href="#" class="slide_content">
    <h2>Independent Thinking Since 1985</h2>
    <p>Empower MediaMarketing is proud to be one of the largest independently-held media agencies in the nation. Find out how entrepreneurial spirit and innovation fuel our team so you get the results from your investment that you deserve.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide7" style="background-image: url(images/cinemagraphs/Amelia_Cinemagraph.gif);">
  <a href="#" class="slide_content">
    <h2>Entrepreneurial Spirits Wanted!!!</h2>
    <p>Are you an independent thinker? If so, we’re a “Best Place to Work.” And we’re always looking for new media-minded talent.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>

<section class="page-slide slide8" style="background-image: url(video/video_poster.jpg);">
  <video autoplay loop poster="video/video_poster.jpg">
    <source src="video/video-banner-looped-compressed-fixed.webm" type="video/webm">
    <source src="video-banner-looped-compressed-fixed.mp4" type="video/mp4">
  </video>
  <a href="#" class="slide_content">
    <h2>Are you an independent thinker?</h2>
    <p>If so, we’re a “Best Place to Work.” And we’re always looking for new media-minded talent.</p>
  </a>
  <a href="#" class="next">Next Slide</a>
</section>