---
title: Our People &#124; Empower MediaMarketing
---

<%= partial "header" %>

<section class="information_boxes people">
  <ul>
    <li>
      <a href="#" style="background-image: url(images/people/jim-price.jpg);">
        <header><span>Jim Price</span><em>CEO</em>Leader</header>
        <span>
          <p><strong>Jim Price</strong> leads The Empower Group, an independent network of companies, and pushes each company to help brands build business by following their individual purpose</p>
        </span>
        <div class="overlay"></div>
      </a>
    </li>
    <li>
      <a href="#" style="background-image: url(images/people/jim-price.jpg);">
        <header><span>Jim Price</span><em>CEO</em>Leader</header>
        <span>
          <p><strong>Jim Price</strong> leads The Empower Group, an independent network of companies, and pushes each company to help brands build business by following their individual purpose</p>
        </span>
        <div class="overlay"></div>
      </a>
    </li>
    <li>
      <a href="#" style="background-image: url(images/people/jim-price.jpg);">
        <header><span>Jim Price</span><em>CEO</em>Leader</header>
        <span>
          <p><strong>Jim Price</strong> leads The Empower Group, an independent network of companies, and pushes each company to help brands build business by following their individual purpose</p>
        </span>
        <div class="overlay"></div>
      </a>
    </li>
  </ul>
</section>